h1 { color: darkred;background: deeppink;

}

P {
    background: floralwhite; color: green; font-size: xx-large;
}
 body {
     background-color: hotpink;
 }
h2 {color: blue;}
h3{
    background-color: blueviolet;
    color: crimson;
}
h1{
    font-family: 'Syne Mono', monospace;
}
h2{
    font-family: 'Berkshire Swash', cursive;
font-family: 'Syne Mono', monospace;
}
img{
    margin: 90px;
    
}